
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #43cea2, #185a9d);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app {
    background: white;
    padding: 25px;
    border-radius: 15px;
    width: 350px;
    text-align: center;
    box-shadow: 0 0 25px rgba(0,0,0,0.3);
}

h1 {
    margin-bottom: 15px;
}

.inputBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="time"] {
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px;
    background: #43cea2;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #2bb673;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #f0f0f0;
    margin: 6px;
    padding: 8px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.deleteBtn {
    background: red;
    border: none;
    color: white;
    padding: 4px 8px;
    border-radius: 5px;
    cursor: pointer;
}

#countdown {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #185a9d;
}
